body {
    background: url(../img/header.png) top center no-repeat scroll;
}

h4 {
    color: #000080;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.masthead {
    margin: 260px 0 30px 0;
}

.post-title, .post-title > a {
    margin-bottom: 0;
    color: #000080;
}

.post-date {
    margin-bottom: 10px;
    color: #808080;
    font-size: 12px;
}

a.brand {
    color: #000080;
}

.nav a {
    color: #000080;
}

.single a img {
    display: block;
    margin: 5px auto 5px auto;
    padding: 5px;
    border: 1px solid gray;
}

#footer {
    height: 60px;
}

.credit {
    margin: 20px 0;
    text-align: center;
}

.pager li a {
    color: #000080;
}
