## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    The Boat
</%block>

<h4>About the Boat</h4> 

<div class="single">
    <a href="img/leaving_petaluma.small.jpg" 
        rel="lightbox[the_boat]" 
        title="Crazy Love with her crew in August 2013.">
        <img alt="Crazy Love with her crew in August 2013." src="img/leaving_petaluma.thumb.jpg">
    </a>
</div>

<p>Crazy Love is a Canadian built 1984 JJ Taylor 26, better known as a Contessa 26. Carolyn
and I bought her in October 2011 in Dana Point, CA for about $12,000.</p>

<p>More information about the JJ Taylor/Contessa 26 can be found at 
<a href="http://bluewaterboats.org/contessa-26/">bluewaterboats.org</a>
</p>

<h5>Work we've done on the boat</h5>

<ul>
    <li>Standing rigging replaced May 2013 by Chris Catterton of <a href="http://cc-rigging.com/">CC Rigging</a></li>
    <li>Fabricated and installed new chainplates - April 2013</li>
    <li>Replaced all in-mast electrical wiring - April 2013</li>
    <li>Installed LunaSea LED Masthead Tricolor/Anchor/Strobe - May 2013</li>
    <li>Installed LunaSea LED spreader lights - May 2013</li>
    <li>Replaced masthead VHF antenna and all coax cable - April 2013</li>
    <li>Fitted a WindPilot Pacific Light Windvane - November 2013</li>
    <li>Added a Victron 602S battery monitor - October 2013</li>
    <li>Replaced all electrical wiring - May/November 2013</li>
    <li>Replaced original electrical panel with a modern one - November 2013</li>
    <li>Installed two 50 watt solar panels with controller - October 2013</li>
    <li>Replaced both Group 24 wet cell batteries with deep cycle maintenance free models - October 2013</li>
    <li>LunaSea LED interior lights installed April 2013</li>
    <li>Lifelines replaced with 3/16" Dyneema - July 2013</li>
    <li>Bottom paint by Shelter Island Boat Yard - May 2013</li>
    <li>Cutlass bearing replaced by Morton Marine - May 2013</li>
    <li>New main sheet, jib sheets, halyards, rope clutches - May 2013</li>
    <li>Added tack line for spinnaker - May 2013</li>
    <li>Added spinnaker pole with mast track/chock for vertical storage - May 2013</li>
    <li>Put the name on the boat - May 2013</li>
    <li>Replaced tape deck with Sony DSX-MS60 Radio/MP3 player - May 2013</li>
    <li>Replaced PolyPlanar speakers - October 2013</li>
    <li>Cleaned water tank - April 2013</li>
    <li>Rebuilt the Jabsco head - November 2013</li>
    <li>Added Sony SSB receiver - November 2013</li>
    <li>Installed lee cloths - January 2014</li>
</ul>

<h5>Work we plan to do on the boat</h5>

<ul>
    <li>Replace the inflatable dink with a more durable tender</li>
    <li>New sails - both main and jib have limited life remaining</li>
    <li>Address deck hardware leaks - this is an ongoing project.</li>
    <li>The nonskid is wicked hot in the tropical sun, maybe paint it a lighter color?</li>
    <li>Purely cosmetic - The deck is showing its age, maybe paint it?</li>
</ul>

