## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    The Boat
</%block>

<h4>About the Boat</h4>

<p>Crazy Love is a Canadian built 1984 JJ Taylor 26, better known as a Contessa 26. Carolyn
and I bought her in October 2011 in Dana Point, CA for about $12,000.</p>

<p>More information about the JJ Taylor/Contessa 26 can be found at 
<a href="http://bluewaterboats.org/contessa-26/">bluewaterboats.org</a>
</p>

<h5>Work we've done on the boat</h5>

<ul>
    <li>Bottom paint May 2013 at Shelter Island Boat Yard</li>
    <li>Standing rigging replaced May 2013 by Chris Catterton of <a href="http://cc-rigging.com/">CC Rigging</a></li>
    <li>LunaSea LED Masthead Tricolor/Anchor/Strobe installed May 2013</li>
    <li>LunaSea LED spreader lights installed May 2013</li>
    <li>LunaSea LED interior lights installed April 2013</li>
</ul>

<h5>Work we plan to do on the boat</h5>

<ul>
    <li>Put the name on the boat</li>
    <li>Replace the non-functional tape deck with something more modern</li>
    <li>Add a battery monitor</li>
    <li>Replace the cutlass bearing</li>
    <li>Replace much of the old/poorly installed electrical wiring</li> 
</ul>

