## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    The Boat
</%block>

<h4>About the Boat</h4>

<p>Crazy Love is a Canadian built 1984 JJ Taylor 26, better known as a Contessa 26. Carolyn
and I bought her in October 2011 in Dana Point, CA for about $12,000.</p>

<p>More information about the JJ Taylor/Contessa 26 can be found at 
<a href="http://bluewaterboats.org/contessa-26/">bluewaterboats.org</a>
</p>

<h5>Work we've done on the boat</h5>

<ul>
    <li>Bottom paint May 2013 at Shelter Island Boat Yard</li>
    <li>Cutlass bearing replaced by Morton Marine - May 2013</li>
    <li>Standing rigging replaced May 2013 by Chris Catterton of <a href="http://cc-rigging.com/">CC Rigging</a></li>
    <li>New main sheet, jib sheets, halyards, rope clutches</li>
    <li>Rig the spinnaker</li>
    <li>LunaSea LED Masthead Tricolor/Anchor/Strobe installed May 2013</li>
    <li>LunaSea LED spreader lights installed May 2013</li>
    <li>LunaSea LED interior lights installed April 2013</li>
    <li>Put the name on the boat - May 2013</li>
    <li>Tape deck replaced with Sony DSX-MS60 Radio/MP3 player</li>
</ul>

<h5>Work we plan to do on the boat</h5>

<ul>
    <li>Clean the water tank so we can use it as drinking water</li>
    <li>Add a battery monitor</li>
    <li>Add a macerator that allows us to pump out at sea</li>
    <li>Rebuild the head pump - its getting difficult to operate</li>
    <li>Evaluate the switch that starts the engine - its suspicious</li>
    <li>Figure out how to carry more water</li>
</ul>

