## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    The Crew
</%block>

<h4>About the Crew</h4>

<p>Please excuse the third person voice.</p>

<p>Carolyn and David met in late 2004 on a blind date and took
their first sailing class together in April 2005 at 
<a href="http://harborsailboats.com">Harbor Sailboats</a> in San Diego.
They learned to sail on Capri 22's in San Diego Bay. Neither of 
them had any sailing experience, but after their first weekend long
course both of them were hooked.
</p>
