## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    The Crew
</%block>

<h4>About the Crew</h4>

<div class="single">
    <a href="img/carolyn_and_david.small.jpg" rel="lightbox[crew]" title="Carolyn and David a few years (I won't say how many) ago">
        <img alt="Carolyn and David" src="img/carolyn_and_david.thumb.jpg">
    </a>
</div>
<div class="single">
    <a href="img/dave_and_carolyn_2013.small.jpg" rel="lightbox[crew]" title="Carolyn and David in June 2013">
        <img alt="Carolyn and David" src="img/dave_and_carolyn_2013.thumb.jpg">
    </a>
</div>

<p>Carolyn and David met in late 2004 on a blind date and took
their first sailing class together in April 2005 at 
<a href="http://harborsailboats.com">Harbor Sailboats</a> in San Diego.
They learned to sail on Capri 22's in San Diego Bay. Neither of 
them had any sailing experience, but after their first weekend long
course both of them were hooked.
</p>

<h4>Contact Us</h4>

<p>
David - david.krisch@yahoo.com<br>
Carolyn - carolyn.krisch@gmail.com
</p>
