## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    Home
    % if pages != 1:
        [${page}/${pages}]
    % endif
</%block>

<!--Body content-->
% for post in posts:
    <div class="post">
        <div class="">
            <h4 class="post-title"><a href="${post['link']}">${post['title']}</a></h4>
        </div>
        <div class="post-date">
            Posted ${post['date']}
        </div>
        <div class="">
            ${post['html']}
        </div>
    </div>
% endfor

% if prev or next:
    <ul class="pager">
        % if prev:
            <li>
        % else:
            <li class="disabled">
        % endif
                <a href="${prev}">Newer</a>
            </li>
        % if next:
            <li>
        % else:
            <li class="disabled">
        % endif
                <a href="${next}">Older</a>
            </li>
    </ul>
% endif
