## -*- coding: utf-8 -*-

<%inherit file="top.html" />
<%block name="title">
    Our Plan
</%block>

<h4>About Our Plan</h4>

<h4>Update January 25, 2014</h4>

It has been a while since Carolyn and I revisited Our Plan.  We talk often
about the future. About what to do for hurricane season. About when and where
we'll land when we go back to work. And most of all about future cruising
plans.

The following are the factors we consider when we discuss our plans for the
rest of this year:

<ul>
    <li>Stay where the weather is nice. We enjoy life without jackets and shoes.</li>
    <li>Have Crazy Love with us when the trip ends.</li>
    <li>I would like to cross an ocean for the great trade wind sailing and both of us want the amazing destinations on the other end.</li>
    <li>Extend our trip well into 2014, maybe not return to work until January 2015.</li>
</ul>

Our choices are many and we add new ones to the list often.  I'll update this
page as we talk through the decision.  Here are the ones we're seriously
considering:

<h5>Mexico: In a Slip or on the Hard</h5>

There are a few options here.  In La Paz we could leave Crazy Love in a marina
or on the the hard.  In Banderas Bay or farther south in Pacific Mexico we
could leave her in a marina - Nuevo Vallarta, La Cruz, Ixtapa, Acapulco.

<h6>Pros</h6>
<ul>
    <li>This could be an inexpensive option.  Marina fees during the summer in Nuevo Vallarta are less than 30 cents per foot per day.</li>
    <li>With the boat in a marina we'd be free to explore inland areas. Not everywhere in Mexico is scorching in summer.</li>
</ul>
<h6>Cons</h6>
<ul>
    <li>Our current criuse would be done.  The boat would be stuck in place due to the threat of hurricanes.</li>
    <li>Coastal Mexico is hot during the summer. Some cruisers we met on the beach summer'd over in the Sea of Cortez say it gets into the high 90s with humidity to match.</li>
</ul>

<h5>Hawaii</h5>

Sometime before hurricane season, we'd load Crazy Love up with water and food and cross the Pacific to Hawaii.

<h6>Pros</h6>
<ul>
    <li>We've heard many good things about the trade wind sailing between Mexico and Hawaii.</li>
    <li>Our cruise would be extended through the summer and into the early fall.</li>
    <li>We'd be back in the states with good access to our mail, marine chandleries, and fancy peanut butter.</li>
    <li>We've talked about trying to make a life for ourselves in Hawaii when our cruise is over.  Sailing there would give us a chance to explore.</li>
    <li>Hawaii is amazing!</li>
</ul>
<h6>Cons</h6>
<ul>
    <li>Our Hawaii cruising guide says that every slip in every marina is full - we'll be lucky to get a transient slip for a few days.  If we can't
    get a permanent slip, then we'd have to sail back to the mainland.  That would be a significant trek.
    Before we strike this plan from the list we want to know more.  We've committed to calling every marina 
    in Hawaii to check for availability.  Since Crazy Love is so small we've had good luck finding slips.</li>
    <li>If we can find a slip in HI, it is likely to be very expensive.</li>
</ul>

<h5>Central America</h5>

Continue South to Central America and leave the boat there when we go back to work.

<h6>Pros</h6>
<ul>
    <li>We'd be out of the hurricane path (I think), so we could continue our cruise. Maybe transit the Panama Canal?</li>
    <li>Central America is supposed to be inexpensive with fewer cruisers.</li>
</ul>
<h6>Cons</h6>
<ul>
    <li>Summer is the rainy season in Central America.</li>
</ul>

<h5>Trailer or Ship Crazy Love home</h5>

Put Crazy Love on a ship or a trailer to be delivered to wherever we want.

<h6>Pros</h6>
<ul>
    <li>Easy. Sort of.</li>
</ul>
<h6>Cons</h6>
<ul>
    <li>Expensive! This would likely send us back to work quickly since it would eat up much of the rest of our cruising funds.</li>
</ul>


<h5>Cross to the South Pacific</h5>

Instead of Hawaii, go to the South Pacific.  We haven't seriously considered this so I don't know if its even possible.

<h6>Pros</h6>
<ul>
    <li>Coconuts!</li>
</ul>
<h6>Cons</h6>
<ul>
    <li>When it came time to go back to work we'd be leaving Crazy Love half way around the world.  Very inaccessible.</li>
</ul>

<h4>The Original Plan - May 2013</h4>

<p>The initial plan is to depart San Diego and head North.  Our first goal is a lofty one...Mission Bay.
It might only be a 15 minute drive from our current home on Harbor Island, but we'll make it an 
adventurous 20 mile sail.  Going 4 knots, and having to tack against the wind and the waves, 
it will take us most of a day.
</p>

<p>
We will spend a few days anchored in Mission Bay and then we will head 25 or so miles up the coast 
to Oceanside Harbor.  There is no anchorage in Oceanside, so we will rent a guest slip for the princely
sum of thirty-some-odd bucks a night.  I think two nights in Oceanside will be enough to resupply, rest up
and plan the next leg of our journey to Dana Point.
</p>

<p>The trek from Oceanside to Dana Point is about 30 miles, again into the prevailing wind and waves.
After 72 hours anchored in Dana Point we will depart so we aren't arrested for overstaying our welcome.
I'm not kidding about the arrest part, seriously, read the "Dana Point" section 
<a href="http://www.blueanarchy.org/cruising/">here</a>.
</p>

<p>
Upon leaving Dana Point, we will attempt our first offshore destination.  Catalina Island is where
Carolyn and I were married and we've always dreamed of sailing there.  We would love to make it to Avalon Harbor
and stay on a mooring ball for Summer Solstice, but we'll see how that works out.
</p>

<p>
After Catalina, our plan is not set.  We might stay in the Channel Islands, stopping at whichever anchorages
suit the weather and our mood, or we might return to the mainland and continue our journey North.  By the end
of the summer I would like to get to San Francisco and anchor in McCovey Cove for a Giants game, but we'll see
how that works out.
</p>

<p>
By the end of August or early September we will be heading back to San Diego to prepare
for the next big leg of our journey, Mexico.  Carolyn and I think we will need about a month to prepare
ourselves and the boat to make the trip South for the Winter.  We will need to be more self-sufficient
in Mexico so we will need to answer a lot more what-if questions than we will sailing in California. 
For instance, "What if the engine doesn't start?"  In California, we can call SeaTow 
or BoatUS for a tow, but in Mexico, those services might not be available so we have to be able to help
ourselves. Fortunately, the systems on our boat are simple and a small cache of spares and tools should 
(fingers crossed) suffice. We'll see about this...
</p>
